/TimeClock-MySQL/nbproject/private/
/TimeClock-MySQL/build/
/TimeClock-MySQL/dist/
/TimeClock-MySQL/manifest.mf
/TimeClock-MySQL/nbproject/
/TimeClock-MySQL/user.bin
/TimeClock-MySQL/vpproject/
/nbproject/
/manifest.mf
/user.bin